body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #333;
  font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  line-height: 150%;
  background-color: #fff;
  height: auto;
  overflow: auto;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.content-bg {
  float: left;
}
.content-bg ul{
  list-style: none;
}
h1 {
  font-size: 45px;
  padding-bottom: 5px;
  text-align: center;
}
.after-eader {
  border-bottom: 2px solid black;
}

.product-container {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  display: inline;
  height: 400px;
  padding: 5px 10px;

}

.product-container img {
    width: 100%;
    height: auto;

}
.clear-fix  {
  clear: both;
}

header {
  text-align: center;
  background: green;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.fs12 {
  font-size: 14px;
  font-weight: normal;
}

.pull-right {
  float: right;
}

.input {
  overflow: hidden;
  font-size: 14px;
  padding-bottom: 10px;
}

.input label {
  width: 100px;
  float: left;
}

.input input, .input textarea {
  float: left;
  width: 250px;
  padding: 3px;
}

button {
  margin-left: 100px;
  width: 50px;
  padding: 5px;
}


.error-message {
  clear: both;
  font-size: 18px;
  color: red;
}


.message {
  text-align: center;
  padding: 5px;
  color: green;
  background: Lavender;
}

.hidden {
  display: none;
}

.footer-title {
  text-align: center;
  font-size: 28px;
  padding:8px 4px;
}

.view-img img {
  width: 100%;
  height: auto;
}
.price-container {
  font-size: 30px;
  padding-bottom: 8px;
}
